.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.table-pagination__total{
  font-size: 25px;
  text-align: center;
}

.card-body {
  padding-bottom: 0;
}

.form-card-footer {
  padding-right: 0;
}

option{
  color: black;
}

.form-control:disabled {
  border-color: gray;
}
