.table-pagination {
  justify-content: space-between;
}

.btn-place-order {
  margin-left: 10px;
}

.card-body {
  padding-bottom: 0;
}

.form-card-footer {
  padding-right: 0;
}

/*Todo: drop down, center, search placeholder*/
